.footer {
  font-size: 15px;
  background-color: gray;
  color: #fff;
  padding: 10px 0;
  font-family: 'Josefin Sans',sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
}
.footer__descr  {
  font-size: 1rem;
}

  /* less than 360px) */
  @media (max-width: 359.98px) {
    .footer__descr span {
      display: none;
    } 
    .btn {
      padding: .375rem .45rem !important;
    }
  }
  
   /* Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 360px) and (max-width: 575.98px) {
    .footer__descr span {
      display: none;
    }

  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .footer__descr span {
      display: none;
    }
  }
