.header {
  position: relative;
  top: 18vh;
}
.headerName {
  position: absolute;
  left: 50%;
  margin-left: -245px;
  color: #fff;
  text-transform: uppercase;
  border: 5px solid #fff;
  padding: 10px;
  font-size: 7rem;
  font-family:  'Amatic SC', cursive;
}


  /* less than 360px) */
@media (max-width: 359.98px) {
  .headerName {
    font-size: 2rem;
    left: 20%; 
    right: 20%; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 360px) and (max-width: 575.98px) {
  .headerName {
    font-size: 3rem;
    left: 10%; 
    right: 10%; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .headerName {
    font-size: 4rem;
    left: 20%; 
    right: 20%; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .headerName {
    font-size: 4rem;
    left: 30%; 
    right: 30%; 
    margin-left: auto; 
    margin-right: auto; 
  }
}
